<table class="table table-hover">
    <tbody>
		<tr class="text-center">
			<td>Aparato 1461</td>
			<td class="">{{grid['app_nbr'][indices[0]]}}</td>
			<td class="">{{grid['app_nbr'][indices[1]]}}</td>
			<td class="">{{grid['app_nbr'][indices[2]]}}</td>
			<td class="">{{grid['app_nbr'][indices[3]]}}</td>
		</tr>
		<tr class="text-center">
			<td>Año {{grid['app_type'][0][0]}}</td>
			<td class="">{{grid['app_type'][indices[0]][1]}} ({{grid['app_offset'][indices[0]]}})</td>
			<td class="">{{grid['app_type'][indices[1]][1]}} ({{grid['app_offset'][indices[0]]}})</td>
			<td class="">{{grid['app_type'][indices[2]][1]}} ({{grid['app_offset'][indices[0]]}})</td>
			<td class="">{{grid['app_type'][indices[3]][1]}} ({{grid['app_offset'][indices[0]]}})</td>
		</tr>
		<tr class="text-center">
            <td >Frec+ (-)</td>
            <td >{{grid['app_fp'][indices[0]]}} ({{grid['app_fn'][indices[0]]}})</td>
            <td >{{grid['app_fp'][indices[1]]}} ({{grid['app_fn'][indices[1]]}})</td>
            <td >{{grid['app_fp'][indices[2]]}} ({{grid['app_fn'][indices[2]]}})</td>
            <td >{{grid['app_fp'][indices[3]]}} ({{grid['app_fn'][indices[3]]}})</td>
        </tr>
    </tbody>
</table>