<div class="container mt-2">
	<table class="table table-hover">
		<tbody>
			<tr>
				<td style="width: 45%;"><strong>Aparato</strong></td>
				<td class="text-left">{{dates['app_nbr']}}</td>
			</tr>
			<tr>
				<td style="width: 45%;"><strong>Año {{dates['app_type'][0]}}</strong></td>
				<td class="text-left">{{dates['app_type'][1]}} ({{dates['app_offset']}})</td>
			</tr>
		</tbody>
	</table>
	<h4>Aparato completo</h4>
	<table class="table table-hover">
		<thead class="text-center">
			<tr>
				<th>Año</th>
				<th>Tipo</th>
				<th>Funcion</th>
				<th>F+</th>
				<th>F-</th>
			</tr>
		</thead>
		<tbody class="text-center">
			<tr>
				<td><strong>{{dates['app_matrix'][0][2]}}</strong></td>
				<td><strong>1</strong></td>
				<td><strong>ASUME</strong></td>
				<td>{{dates['app_matrix'][0][0]}}</td>
				<td>{{dates['app_matrix'][0][1]}}</td>
			</tr>
			<tr>
				<td><strong>{{dates['app_matrix'][1][2]}}</strong></td>
				<td><strong>2</strong></td>
				<td><strong>ASIMILA</strong></td>
				<td>{{dates['app_matrix'][1][0]}}</td>
				<td>{{dates['app_matrix'][1][1]}}</td>
			</tr>
			<tr>
				<td><strong>{{dates['app_matrix'][2][2]}}</strong></td>
				<td><strong>3</strong></td>
				<td><strong>DESAFIA</strong></td>
				<td>{{dates['app_matrix'][2][0]}}</td>
				<td>{{dates['app_matrix'][2][1]}}</td>
			</tr>
			<tr>
				<td><strong>{{dates['app_matrix'][3][2]}}</strong></td>
				<td><strong>B</strong></td>
				<td><strong>DECIDE</strong></td>
				<td>{{dates['app_matrix'][3][0]}}</td>
				<td>{{dates['app_matrix'][3][1]}}</td>
			</tr>
		</tbody>
	</table>
	<h4>Aparato Nativo</h4>
	<table class="table table-hover">
		<tbody>
			<tr>
				<td style="width: 45%;"><strong>Aparato</strong></td>
				<td class="text-left">{{dates['app_nat_nbr']}}</td>
			</tr>
			<tr>
				<td style="width: 45%;"><strong>Año {{dates['app_nat_type'][0]}}</strong></td>
				<td class="text-left">{{dates['app_nat_type'][1]}} ({{dates['app_nat_offset']}})</td>
			</tr>
			<tr>
				<td style="width: 45%;"><strong>Aparatos vividos</strong></td>
				<td class="text-left">{{dates['app_nat_lived']}}</td>
			</tr>
		</tbody>
	</table>
</div>


