<!-- Calendar Table -->
<table class="table table-hover mt-3" style="font-size: 0.85rem;">
	<thead class="text-center" id="quadrant-header">
		<tr>
	        <th style="border-radius: 6px 0 0 0;"></th>
	        <th></th>
	        <th>HUMANO</th>
	        <th></th>
	        <th></th>
	        <th></th>
	        <th>INHUMANO</th>
	        <th></th>
	        <th style="border-radius: 0 6px 0 0;"></th>
		</tr>
	</thead>
	<thead class="text-center" id="quadrant-header">
		<tr>
	        <th style="border-radius: 0 0 0 0;"></th>
	        <th>LO</th>
	        <th>IN</th>
	        <th>HU</th>
	        <th>CO</th>
	        <th>LO</th>
	        <th>IN</th>
	        <th>HU</th>
	        <th style="border-radius: 0 0 0 0;">CO</th>
		</tr>
	</thead>
	<tbody>
		{% for i in range(22) %}
		<tr class="text-center">
			{% for j in range(9) %}
				{% if j == 0 %}
					<td id="quadrant-header">{{ calendar[disp_rnd][i][j] }}</td>
				{% elif j > 0 and j <= 4 %}
					{% if i >=0 and i <= 10%}
						<!-- Top right quad -->
						<td style="background: #e1f5fe;">
							<a href="{{url_for('date_details', year=calendar[disp_rnd][i][j].year, daynbr=calendar[disp_rnd][i][j].timetuple().tm_yday)}}">
								{{calendar[disp_rnd][i][j].strftime('%d/%m')}}
							</a>
						</td>
					{% else %}
						<!-- Bottom right quad -->
						<td style="background: #d1c4e9;">
							<a href="{{url_for('date_details', year=calendar[disp_rnd][i][j].year, daynbr=calendar[disp_rnd][i][j].timetuple().tm_yday)}}">
								{{calendar[disp_rnd][i][j].strftime('%d/%m')}}
							</a>
						</td>
					{% endif %}
				{% else %}
					{% if i >=0 and i <= 10%}
						<td style="background: #ffccbc;">
							<a href="{{url_for('date_details', year=calendar[disp_rnd][i][j].year, daynbr=calendar[disp_rnd][i][j].timetuple().tm_yday)}}">
								{{calendar[disp_rnd][i][j].strftime('%d/%m')}}
							</a>
						</td>
					{% else %}
						<td style="background: #c8e6c9;">
							<a href="{{url_for('date_details', year=calendar[disp_rnd][i][j].year, daynbr=calendar[disp_rnd][i][j].timetuple().tm_yday)}}">
								{{calendar[disp_rnd][i][j].strftime('%d/%m')}}
							</a>
						</td>
					{% endif %}
				{% endif %}
			{% endfor %}
		</tr>
		{% endfor %}
    </tbody>
    <thead class="text-center" id="quadrant-header">
		<tr>
	        <th style="border-radius: 0 0 0 0;"></th>
	        <th>LO</th>
	        <th>IN</th>
	        <th>HU</th>
	        <th>CO</th>
	        <th>LO</th>
	        <th>IN</th>
	        <th>HU</th>
	        <th style="border-radius: 0 0 0 0;">CO</th>
		</tr>
	</thead>
	<thead class="text-center" id="quadrant-header">
		<tr>
	        <th style="border-radius: 0 0 0 6px;"></th>
	        <th></th>
	        <th>LOGICO</th>
	        <th></th>
	        <th></th>
	        <th></th>
	        <th>CONTEXTO</th>
	        <th></th>
	        <th style="border-radius: 0 0 6px 0;"></th>
		</tr>
	</thead>
</table>
