<div class="container mt-2">
	<table class="table table-hover">
		<tbody>
			<tr>
				<td style="width: 45%;"><strong>Semana</strong></td>
				<td class="text-left">{{dates['week_nbr']}}</td>
			</tr>
			<tr>
				<td style="width: 45%;"><strong>Dia de Semana</strong></td>
				<td class="text-left">{{dates['weekday']}}</td>
			</tr>
			<tr>
				<td style="width: 45%;"><strong>Dia Vuelta</strong></td>
				<td class="text-left">{{dates['round_day']}}</td>
			</tr>
			<tr>
				<td style="width: 45%;"><strong>Frec+</strong></td>
				<td class="text-left">{{dates['day_nbr']}}</td>
			</tr>
			<tr>
				<td style="width: 45%;"><strong>Frec-</strong></td>
				<td class="text-left">{{dates['freq_neg']}}</td>
			</tr>
			<tr>
				<td style="width: 45%;"><strong>GAP</strong></td>
				<td class="text-left">{{dates['gap']}}</td>
			</tr>
			<tr>
				<td style="width: 45%;"><strong>Fecha GAP</strong></td>
				<td class="text-left">{{dates['gap_date'].strftime('%d/%m/%Y')}}</td>
			</tr>
			<tr>
				<td style="width: 45%;"><strong>5°</strong></td>
				<td class="text-left">{{dates['fs']}}</td>
			</tr>
			<tr>
				<td style="width: 45%;"><strong>Eje 258</strong></td>
				<td class="text-left">{{dates['au']}}</td>
			</tr>
		</tbody>
	</table>
</div>


