<table class="table table-hover">
    <tbody>
        <tr class="text-center">
			<td>CG</td>
			<td class="">{{grid['cg'][indices[0]]}}</td>
			<td class="">{{grid['cg'][indices[1]]}}</td>
			<td class="">{{grid['cg'][indices[2]]}}</td>
			<td class="">{{grid['cg'][indices[3]]}}</td>
		</tr>
		<tr class="text-center">
			<td>DCG</td>
			<td class="">{{grid['cg_tot_days'][indices[0]]}}</td>
			<td class="">{{grid['cg_tot_days'][indices[1]]}}</td>
			<td class="">{{grid['cg_tot_days'][indices[2]]}}</td>
			<td class="">{{grid['cg_tot_days'][indices[3]]}}</td>
		</tr>
    </tbody>
</table>