<h5>Contadores Personales</h5>
<table class="table table-hover">
    <tbody>
		<tr class="text-center">
			<td>FP+</td>
			<td class="">{{grid['fp_nat'][indices[0]]}}</td>
			<td class="">{{grid['fp_nat'][indices[1]]}}</td>
			<td class="">{{grid['fp_nat'][indices[2]]}}</td>
			<td class="">{{grid['fp_nat'][indices[3]]}}</td>
		</tr>
		<tr class="text-center">
			<td>FP-</td>
			<td class="">{{grid['fn_nat'][indices[0]]}}</td>
			<td class="">{{grid['fn_nat'][indices[1]]}}</td>
			<td class="">{{grid['fn_nat'][indices[2]]}}</td>
			<td class="">{{grid['fn_nat'][indices[3]]}}</td>
		</tr>
		<tr class="text-center">
			<td>GAP</td>
			<td class="">{{grid['gap_nat'][indices[0]]}}</td>
			<td class="">{{grid['gap_nat'][indices[1]]}}</td>
			<td class="">{{grid['gap_nat'][indices[2]]}}</td>
			<td class="">{{grid['gap_nat'][indices[3]]}}</td>
		</tr>
		<tr class="text-center">
			<td>Dias de Vida</td>
			<td class="">{{grid['days_lived'][indices[0]]}}</td>
			<td class="">{{grid['days_lived'][indices[1]]}}</td>
			<td class="">{{grid['days_lived'][indices[2]]}}</td>
			<td class="">{{grid['days_lived'][indices[3]]}}</td>
		</tr>
		<tr class="text-center">
			<td>CP</td>
			<td class="">{{grid['cp'][indices[0]]}}</td>
			<td class="">{{grid['cp'][indices[1]]}}</td>
			<td class="">{{grid['cp'][indices[2]]}}</td>
			<td class="">{{grid['cp'][indices[3]]}}</td>
		</tr>
		<tr class="text-center">
			<td>DCP</td>
			<td class="">{{grid['cp_tot_days'][indices[0]]}}</td>
			<td class="">{{grid['cp_tot_days'][indices[1]]}}</td>
			<td class="">{{grid['cp_tot_days'][indices[2]]}}</td>
			<td class="">{{grid['cp_tot_days'][indices[3]]}}</td>
		</tr>
		<tr class="text-center">
			<td>NDCP</td>
			<td class="">{{grid['cp_day'][indices[0]]}}</td>
			<td class="">{{grid['cp_day'][indices[1]]}}</td>
			<td class="">{{grid['cp_day'][indices[2]]}}</td>
			<td class="">{{grid['cp_day'][indices[3]]}}</td>
		</tr>
		<tr class="text-center">
			<td>AF</td>
			<td class="">{{grid['af'][indices[0]]}}</td>
			<td class="">{{grid['af'][indices[1]]}}</td>
			<td class="">{{grid['af'][indices[2]]}}</td>
			<td class="">{{grid['af'][indices[3]]}}</td>
		</tr>
		<tr class="text-center">
			<td>AF(F)</td>
			<td class="">{{grid['aff'][indices[0]]}}</td>
			<td class="">{{grid['aff'][indices[1]]}}</td>
			<td class="">{{grid['aff'][indices[2]]}}</td>
			<td class="">{{grid['aff'][indices[3]]}}</td>
		</tr>
    </tbody>
</table>