<div class="container mt-2">
	<h5>Global</h5>
	<table class="table table-hover">
		<tbody>
			<tr>
				<td style="width: 45%;"><strong>CG</strong></td>
				<td class="text-left">{{dates['cg']}}</td>
			</tr>
			<tr>
				<td style="width: 45%;"><strong>NDCG</strong></td>
				<td class="text-left">{{dates['cg_day']}}</td>
			</tr>
			<tr>
				<td style="width: 45%;"><strong>DCG</strong></td>
				<td class="text-left">{{dates['cg_tot_days']}}</td>
			</tr>
		</tbody>
	</table>
	<h5>Personal</h5>
	<table class="table table-hover">
		<tbody>
			<tr>
				<td style="width: 45%;"><strong>CP</strong></td>
				<td class="text-left">{{dates['cp']}}</td>
			</tr>
			<tr>
				<td style="width: 45%;"><strong>NDCP</strong></td>
				<td class="text-left">{{dates['cp_day']}}</td>
			</tr>
			<tr>
				<td style="width: 45%;"><strong>DCP</strong></td>
				<td class="text-left">{{dates['cp_tot_days']}}</td>
			</tr>
		</tbody>
	</table>
</div>


