<!-- Quadrant Table -->
<table class="table table-hover">
	<tbody>
		<tr class="text-center">
			<td>Dia Vuelta</td>
			<td class="">{{grid['round_days'][indices[0]]}}</td>
			<td class="">{{grid['round_days'][indices[1]]}}</td>
			<td class="">{{grid['round_days'][indices[2]]}}</td>
			<td class="">{{grid['round_days'][indices[3]]}}</td>
		</tr>
		<tr class="text-center">
			<td>Fecha</td>
			<td class="">{{grid['dates_str'][indices[0]]}}</td>
			<td class="">{{grid['dates_str'][indices[1]]}}</td>
			<td class="">{{grid['dates_str'][indices[2]]}}</td>
			<td class="">{{grid['dates_str'][indices[3]]}}</td>
		</tr>
		<tr class="text-center">
			<td>Numero semana</td>
			<td class="">{{grid['week_nbr'][indices[0]]}}</td>
			<td class="">{{grid['week_nbr'][indices[1]]}}</td>
			<td class="">{{grid['week_nbr'][indices[2]]}}</td>
			<td class="">{{grid['week_nbr'][indices[3]]}}</td>
		</tr>
		<tr class="text-center">
			<td>Dia de semana</td>
			<td class="">{{grid['weekday'][indices[0]].capitalize()}}</td>
			<td class="">{{grid['weekday'][indices[1]].capitalize()}}</td>
			<td class="">{{grid['weekday'][indices[2]].capitalize()}}</td>
			<td class="">{{grid['weekday'][indices[3]].capitalize()}}</td>
		</tr>
		<tr class="text-center">
			<td>Frec+</td>
			<td class="">{{grid['day_nbr'][indices[0]]}}</td>
			<td class="">{{grid['day_nbr'][indices[1]]}}</td>
			<td class="">{{grid['day_nbr'][indices[2]]}}</td>
			<td class="">{{grid['day_nbr'][indices[3]]}}</td>
		</tr>
		<tr class="text-center">
			<td>Frec-</td>
			<td class="">{{grid['freq_neg'][indices[0]]}}</td>
			<td class="">{{grid['freq_neg'][indices[1]]}}</td>
			<td class="">{{grid['freq_neg'][indices[2]]}}</td>
			<td class="">{{grid['freq_neg'][indices[3]]}}</td>
		</tr>
		<tr class="text-center">
			<td>GAP</td>
			<td class="">{{grid['gap'][indices[0]]}}</td>
			<td class="">{{grid['gap'][indices[1]]}}</td>
			<td class="">{{grid['gap'][indices[2]]}}</td>
			<td class="">{{grid['gap'][indices[3]]}}</td>
		</tr>
		<tr class="text-center">
			<td>Fecha GAP</td>
			<td class="">{{grid['gap_date_str'][indices[0]]}}</td>
			<td class="">{{grid['gap_date_str'][indices[1]]}}</td>
			<td class="">{{grid['gap_date_str'][indices[2]]}}</td>
			<td class="">{{grid['gap_date_str'][indices[3]]}}</td>
		</tr>
		<tr class="text-center">
			<td>CG</td>
			<td class="">{{grid['cg'][indices[0]]}}</td>
			<td class="">{{grid['cg'][indices[1]]}}</td>
			<td class="">{{grid['cg'][indices[2]]}}</td>
			<td class="">{{grid['cg'][indices[3]]}}</td>
		</tr>
		<tr class="text-center">
			<td>DCG</td>
			<td class="">{{grid['cg_tot_days'][indices[0]]}}</td>
			<td class="">{{grid['cg_tot_days'][indices[1]]}}</td>
			<td class="">{{grid['cg_tot_days'][indices[2]]}}</td>
			<td class="">{{grid['cg_tot_days'][indices[3]]}}</td>
		</tr>
		<tr class="text-center">
			<td>NDCG</td>
			<td class="">{{grid['cg_day'][indices[0]]}}</td>
			<td class="">{{grid['cg_day'][indices[1]]}}</td>
			<td class="">{{grid['cg_day'][indices[2]]}}</td>
			<td class="">{{grid['cg_day'][indices[3]]}}</td>
		</tr>
		<tr class="text-center">
			<td>5° Etapa</td>
			<td class="">{{grid['fs'][indices[0]]}}</td>
			<td class="">{{grid['fs'][indices[1]]}}</td>
			<td class="">{{grid['fs'][indices[2]]}}</td>
			<td class="">{{grid['fs'][indices[3]]}}</td>
		</tr>
		<tr class="text-center">
			<td>Eje 258</td>
			<td class="">{{grid['au'][indices[0]]}}</td>
			<td class="">{{grid['au'][indices[1]]}}</td>
			<td class="">{{grid['au'][indices[2]]}}</td>
			<td class="">{{grid['au'][indices[3]]}}</td>
		</tr>
    </tbody>
</table>