{% extends "es/base.html" %}

{% block content %}
	<div class="style-jumbo mb-5">
		<div class="jumbotron text-center mb-3 shadow-lg">
			<h2 class="display-4">Hola {{ current_user.first_name.capitalize() }},</h2>
			<p class="lead mt-0">Hoy es
				<a class="btn btn-info"
				   href="{{url_for('date_details', year=calendar['year'], daynbr=calendar['today'].timetuple().tm_yday)}}"
				   data-toggle="tooltip" data-placement="top" title="Ver detalles hoy">
					<strong>{{ calendar['today'].strftime("%d/%m/%Y") }}</strong>
				</a>
			</p>
			<p class="lead mt-0">Días de vida: {{ calendar['days_alive'] }}</p>
			{% if not calendar['is_rof'] %}
				<h4>En CALENDARIA</h4>
				<p class="lead mt-0">La vuelta es: {{ calendar['round'] }}</p>
				<p class="lead mt-0">El cuadrante es: {{ calendar['quad_name_es'] }}</p>
				<p class="lead mt-0">El paso es: {{ calendar['step'] }}</p>
			{% else %}
				<p class="lead mt-0">Anillo de fuego dia: {{ calendar['daynbr'] }}</p>
			{% endif %}
		</div>
	</div>
	<h2 class="text-center mb-4">Calendaria {{calendar['year']}}</h2>
	<!-- Tabs to display calendar -->
	<nav>
		<div class="nav nav-tabs nav-justified" id="nav-tab" role="tablist">
			<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">1 a 11</a>
			<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">12 a 22</a>
			<a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Anillo</a>
		</div>
	</nav>
	<div class="tab-content" id="nav-tabContent">
		<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
			<!-- Calendar -->
			{% set disp_rnd = 'rnd_1_11' %}
			{% include "es/_cal.html" %}
		</div>
		<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
			<!-- Calendar -->
			{% set disp_rnd = 'rnd_12_22' %}
			{% include "es/_cal.html" %}
		</div>
		<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
			<!-- Calendar -->
			{% include "es/_rof.html" %}
		</div>
	</div>
{% endblock %}