{% extends "es/base.html" %}

{% block content %}
<h1>Diagramas</h1>
<div class="row">
    {% for img in images %}
    <div class="col-md-6 col-lg-4 mt-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">{{img[1]}}</h5>
                <hr>
            </div>
            <a href="{{url_for('static', filename='diagrams/'+img[0])}}" target="_blank">
                <img class="card-img-bottom" src="{{url_for('static', filename='diagrams/'+img[0])}}" alt="{{img[1]}}">
            </a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}