{% extends "es/base.html" %}

{% block content %}
<!-- Main Titles -->
<div class="style-jumbo mb-5">
	<div class="jumbotron text-center mb-3 shadow-lg">
		<h2 class="display-4">Cuadrante: {{ dates['date'].strftime("%d/%m/%Y") }}</h2>
		<p class="lead mt-0">Días de vida: {{ dates['days_alive'] }}</p>
		<br>
		<h4>En CALENDARIA</h4>
		<p class="lead mt-0">La vuelta es: {{ dates['round'] }}</p>
		<p class="lead mt-0">El cuadrante es: {{ dates['quad_name_es'] }}</p>
		<p class="lead mt-0">El paso es: {{ dates['step'] }}</p>
	</div>
</div>
<div class="col-sm-4 offset-sm-4 w-20 mt-2 mb-2">
	<a class="btn btn-info btn-block text-center"  href="{{url_for('date_details', year=dates['date'].year, daynbr=dates['daynbr'])}}">
		Ver por fecha
	</a>
</div>
{% if not dates['is_rof'] %}
    <!-- Quadrant tab navigation -->
    <nav>
    	<div class="nav nav-tabs nav-justified" id="nav-tab" role="tablist">
    		<a class="nav-item nav-link active" id="q1-tab" data-toggle="tab" href="#q1" role="tab" aria-controls="nav-home" aria-selected="true"><span>LO-SO</span></a>
    		<a class="nav-item nav-link" id="q2-tab" data-toggle="tab" href="#q2" role="tab" aria-controls="nav-profile" aria-selected="false">IN-NE</a>
    		<a class="nav-item nav-link" id="q3-tab" data-toggle="tab" href="#q3" role="tab" aria-controls="nav-contact" aria-selected="false">HU-NO</a>
    		<a class="nav-item nav-link" id="q4-tab" data-toggle="tab" href="#q4" role="tab" aria-controls="nav-contact" aria-selected="false">CO-SE</a>
    	</div>
    </nav> <!-- navigation tabs -->

    <div class="tab-content" id="nav-tabContent">
    	<div class="tab-pane fade show active" id="q1" role="tabpanel" aria-labelledby="q1-tab">
    	    {% set indices = [0, 1, 2, 3] %}
    	    <!-- Accordion Q1 -->
  		    <div class="accordion" id="accordionQ1">
  			    <div class="card">
    		        <div class="card-header" id="headingOne">
    		            <h5 class="mb-0">
    			            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
    			                Calendaria
    			            </button>
    		            </h5>
    			    </div>
    			    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionQ1">
			            <div class="card-body">
			                {% include "es/_quadrant_head.html" %}
			      	        {% include "es/_quadrant.html" %}
			            </div>
			        </div>
    			    <div class="card-header" id="headingTwo">
    		            <h5 class="mb-0">
    			            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
    			                Parámetros y Contadores
    			            </button>
    		            </h5>
    			    </div>
			        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionQ1">
			            <div class="card-body">
			                {% include "es/_quadrant_head.html" %}
			      	        {% include "es/_counter.html" %}
			            </div>
			        </div>
			    </div>
    	    </div>
    	</div>
    	<div class="tab-pane fade" id="q2" role="tabpanel" aria-labelledby="q2-tab">
    	    {% set indices = [4, 5, 6, 7] %}
    	    <!-- Accordion Q2 -->
  		    <div class="accordion" id="accordionQ2">
  			    <div class="card">
    		        <div class="card-header" id="headingOne">
    		            <h5 class="mb-0">
    			            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
    			                Calendaria
    			            </button>
    		            </h5>
    			    </div>
    			    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionQ2">
			            <div class="card-body">
			                {% include "es/_quadrant_head.html" %}
			      	        {% include "es/_quadrant.html" %}
			            </div>
			        </div>
    			    <div class="card-header" id="headingTwo">
    		            <h5 class="mb-0">
    			            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
    			                Parámetros y Contadores
    			            </button>
    		            </h5>
    			    </div>
			        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionQ2">
			            <div class="card-body">
			                {% include "es/_quadrant_head.html" %}
			      	        {% include "es/_counter.html" %}
			            </div>
			        </div>
			    </div>
    	    </div>
    	</div>
    	<div class="tab-pane fade" id="q3" role="tabpanel" aria-labelledby="q3-tab">
    	    {% set indices = [8, 9, 10, 11] %}
    	    <!-- Accordion Q3 -->
  		    <div class="accordion" id="accordionQ3">
  			    <div class="card">
    		        <div class="card-header" id="headingOne">
    		            <h5 class="mb-0">
    			            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
    			                Calendaria
    			            </button>
    		            </h5>
    			    </div>
    			    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionQ3">
			            <div class="card-body">
			                {% include "es/_quadrant_head.html" %}
			      	        {% include "es/_quadrant.html" %}
			            </div>
			        </div>
    			    <div class="card-header" id="headingTwo">
    		            <h5 class="mb-0">
    			            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
    			                Parámetros y Contadores
    			            </button>
    		            </h5>
    			    </div>
			        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionQ3">
			            <div class="card-body">
			                {% include "es/_quadrant_head.html" %}
			      	        {% include "es/_counter.html" %}
			            </div>
			        </div>
			    </div>
    	    </div>
    	</div>
    	<div class="tab-pane fade" id="q4" role="tabpanel" aria-labelledby="q4-tab">
    	    {% set indices = [12, 13, 14, 15] %}
    	    <!-- Accordion Q4 -->
  		    <div class="accordion" id="accordionQ4">
  			    <div class="card">
    		        <div class="card-header" id="headingOne">
    		            <h5 class="mb-0">
    			            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
    			                Calendaria
    			            </button>
    		            </h5>
    			    </div>
    			    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionQ4">
			            <div class="card-body">
			                {% include "es/_quadrant_head.html" %}
			      	        {% include "es/_quadrant.html" %}
			            </div>
			        </div>
    			    <div class="card-header" id="headingTwo">
    		            <h5 class="mb-0">
    			            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
    			                Parámetros y Contadores
    			            </button>
    		            </h5>
    			    </div>
			        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionQ4">
			            <div class="card-body">
			                {% include "es/_quadrant_head.html" %}
			      	        {% include "es/_counter.html" %}
			            </div>
			        </div>
			    </div>
    	    </div>
    	</div>
    </div> <!-- .tab-content -->

{% else %}
    <h2>Anillo de Fuego, dia del año {{dates['daynbr']}}</h2>
{% endif %}
<!-- Export button -->
<a href="{{url_for('download_csv')}}">
	<button class="btn btn-outline-primary mt-3 mb-4" id="edit-button">Exportar</button>
</a>
{% endblock %}